*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 15vh;
    
}

.tasks-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

li{
    padding: .625rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

input{
    height: 2.5rem;
    border: none;
    margin-right: .625rem;
}
input[type="text"] {
    padding: .625rem;
    border-radius: 6px;
}

input[type="placeholder"]{
    color: #999;
}


#addBtn{
    margin-right: 1rem;
    padding: .625rem 1.25rem;
    border-radius: 6px;
    background-color: #007bff;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
}

.delete-btn{
    margin-left: 1rem;
    padding: .625rem;
    color: #fff;
    cursor: pointer;
    background-color: #dc3545;
}